<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<script>
					document.write(new Date().getFullYear())
				</script>
				© MySearchJob -
				<a href="https://davprocode.com">davprocode.com</a>
			</div>
			<div class="col-md-6">
				<div class="text-md-end footer-links d-md-blocks">
					<a href="#">About</a>
					<a href="#">Support</a>
					<a href="#">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</footer>
