*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*! COLORS*/
    --background: #221a1a;
    --backgroundHover: #161616;
    --text: #fff;
    --textMuted: #98a6ad;

    --red: #b24c63;
    --violet: #5438dc;
    --bleu: #357ded;
    --ciel: #56eef4;
    --vert: #32e875;

    /*! SHADOWS*/
    --boxShadow: 3px 0px 34px 0px rgba(0, 0, 0, .2);
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
}

a {
    text-decoration: none !important;
}

ul li {
    list-style: none !important;
}

.content-page {
    margin-left: 233px;
    overflow: hidden;
    padding: 108px 3px 26px;
    min-height: 100vh;
}

/** NAVIGATION */



/*=============================================
=            Sidebar                         =
=============================================*/
.sidebar-menu {
    background-color: var(--background);
    color: var(--text);
    z-index: 10;
    width: 233px;
    position: fixed;
    top: 0;
    bottom: 0;
    box-shadow: var(--boxShadow);
}

.sidebar-menu.close .logo-lg>img {
    display: none;
}

.sidebar-menu.open .logo-sm>img {
    display: none;
}

.sidebar-menu__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 1.34rem;
    position: relative;
}

.sidebar-menu__wrapper {
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    overflow: hidden;
    margin: 0;
}

.sidebar-menu__mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    direction: inherit;
    overflow: hidden;
    width: auto;
    height: auto;
    z-index: 0;
}

.sidebar-menu__offset {
    direction: inherit;
    -webkit-box-sizing: inherit !important;
    box-sizing: border-box;
    resize: none !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
}

.sidebar-menu__content-wrapper {
    height: 100%;
    overflow: hidden scroll;
    direction: inherit;
    box-sizing: border-box;
    position: relative;
    display: block;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.sidebar-menu__content-wrapper::-webkit-scrollbar {
    width: 0.5rem;
}

.sidebar-menu__content-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
}

.sidebar-menu__content-wrapper::-webkit-scrollbar-thumb {
    outline: 1px solid var(--textMuted);
    border-radius: 8rem;
}

.sidebar-menu__content {
    padding: 0;
}

.sidenav {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}

.sidenav__title {
    color: var(--textMuted);
}

.sidenav .sidenav__title {
    padding: 0.75rem 1.875rem;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: 0.6875rem;
    text-transform: uppercase;
    font-weight: 700;
}

.sidenav .sidenav__link {
    display: block;
    padding: 0.625rem 1.875rem;
    font-size: .9375rem;
    position: relative;
    transition: all .21s;
    list-style: none;
}

.sidenav .active>a {
    color: var(--text) !important;
}

.sidenav li>a {
    color: var(--textMuted) !important;
}

.sidenav .sidenav__second-level li a {
    color: var(--textMuted);
}

.sidenav__second-level li a {
    padding: 0.5rem 1.875rem 0.5rem 1.0625rem;
    display: block;
    position: relative;
    transition: all .21s;
    font-size: 0.89rem;
}

.sidenav__second-level li a:hover {
    color: var(--text);
    transition: color .21s;
}

/*=====  End of Sidebar  ======*/


/*=============================================
=            Fixed Navbar                     =
=============================================*/
.navbar-topbar {
    padding: 0 1.5rem;
    background-color: #fff;
    box-shadow: var(--boxShadow);
    min-height: 4.375rem;
    position: fixed;
    left: 233px;
    top: 0;
    right: 0;
    z-index: 1001;
}

.navbar-topbar__menu {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-topbar .navbar-topbar__dropdown li {
    float: left;
    max-height: 70px;
}

.navbar-topbar .navbar-topbar__menu .nav-link {
    padding: 0;
    color: var(--textMuted);
    min-width: 34px;
    display: block;
    text-align: center;
    margin: 0 0.625rem;
    position: relative;
}

.dropdown-menu {
    box-shadow: var(--boxShadow);
    min-width: 10rem;
    padding: 0.25rem 0;
    font-size: 0.9rem;
    color: var(--textMuted);
    text-align: center;
    background-clip: padding-box;
    border: 1px solid #e7ebf0;
    border-radius: 0.25rem;
    cursor: pointer;
}

.dropdown-menu.show {
    text-align: left !important;
}

.dropdown-menu-animated.dropdown-menu-end[style] {
    left: auto;
    right: 0;
}

.dropdown-menu-animated {
    animation: dropdownSlide .21s both;
    position: absolute;
    margin: 0;
    z-index: 1000;
}

@keyframes dropdownSlide {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(89px);
    }
}


.nav-user {
    text-align: left !important;
    background-color: #fafbfd;
    border: 1px solid #f1f3fa;
    border-width: 0 1px;
    min-height: 4.375rem;
    padding: calc(31px * .5) 20px calc(31px * .5) 57px !important;
}

.account-user__avatar {
    position: absolute;
    top: calc(38px * .5);
    left: 15px;
}

.account-user__name {
    display: block;
    font-weight: 600;
}

.account-user__job {
    display: block;
    font-size: 0.75rem;
    margin-top: -3px;
}

.search {
    position: static;
    overflow-y: hidden;
}

.search form {
    padding: calc(32px * .5) 5px calc(32px * .5) 0;
    overflow: hidden;
    max-width: 377px;
}

.search .form-control {
    border: none;
    height: calc(1.5em + 0.9rem + 2px);
    padding-left: 40px;
    padding-right: 20px;
    background-color: #f1f3fa;
    box-shadow: none;
}

.search span.search-icon {
    position: absolute;
    z-index: 4;
    font-size: 21px;
    line-height: 34px;
    left: 10px;
    top: 0;
}


/*=============================================
=            Footer                           =
=============================================*/

.footer {
    border-top: 1px solid rgba(152, 166, 173, .2);
    position: absolute;
    bottom: 0;
    right: 0;
    color: #98a6ad;
    left: 233px;
    transition: all .21s ease-in-out;
}

.footer .footer-links a:first-of-type {
    margin-left: 0;
}

.footer .footer-links a {
    color: #98a6ad;
    transition: all .21s;
    margin-left: 1.5rem;
}

/*=====  End of Footer  ======*/