{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/company.css')}}">
{% endblock %}

{% block title %}Edit Company
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="route m-0">
                        <li class="route-item">
                            <a href="{{ path('home')}}">Home</a>
                        </li>
                        <li class="route-item">
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li class="route-item">
                            <a href="{{ path('companies')}}">
                                Company List
                            </a>
                        </li>
                        <li class="route-item active">
                            <a href="{{ path('company.edit', {id: company.id})}}">
                                Edit Company
                            </a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Edit Company</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}