{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/company.css')}}">
{% endblock %}

{% block title %}Add New Company
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="page-title-box">
					<h4 class="page-title">Add New Company</h4>
				</div>
			</div>
		</div>
		{% include 'company/_form.html.twig' with {form: form, button: 'Add'} %}
	</div>


{% endblock %}
